<library path="lib/librqt_servo">
  <class name="rqt_servo/MyPlugin" type="rqt_servo::MyPlugin" base_class_type="rqt_gui_cpp::Plugin">
    <description>
      Control de servos para sistema de telepresencia con Oculus Rift.
    </description>
    <qtgui>
      <!-- optional grouping...
      <group>
        <label>Group</label>
      </group>
      <group>
        <label>Subgroup</label>
      </group>
      -->
      <label>Oculus Servo Plugin</label>
      <icon type="theme">system-help</icon>
      <statustip>Oculus Servo Plugin.</statustip>
    </qtgui>
  </class>
</library>
